html{
    font-size: 62.5%;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1{
    line-height: 10rem;
    font-size: 6.9rem;
}
h2{
    font-size:6rem;
    line-height: 8rem;
}
p{
    margin: 0;
}
/* Block */
.block{
    padding: 6rem 2rem;
}

.block__heading{
    margin-top: 0;
    text-transform: uppercase;
}

.block--dark{
    background: #000;
    color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3{
    color: white;
}


.block--skewed-left{
    padding-bottom: 6rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.block__header{
    text-align: center;
}
/* btn */

.savebtn{
    margin-bottom: 50px;
    margin-top: 50px;
}

.danger{
    margin: 5px 0 5px 5px;
}
/* grid */
.grid{
    display: grid;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .grid{
        gap: 100px;
    }
    .block__heading{
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 768px){
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
    }
    .block__heading{
        margin-bottom: 100px;
    }
}

/* Card */
.card{
    margin: auto;
    width: 500px;
    box-shadow: 0px 0px 10px gray;
}

/* container */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* sched */
.schedTable{
    margin: 50px;
    margin-left: 10px;
}

/* tables */
.ant-table{
    font-size: 1.1rem;
}

/* NavBar */
.ant-menu{
    font-size: 1.6rem;
}

/* calendar */
.ant-fullcalendar{
    font-size: 2rem;
}

/* Form Labels */
.ant-form label{
    font-size: 3rem;
}
/* Modal */
.ant-modal-title{
    font-size: 3rem;
    text-align: center;
}

/* Icons */
.ant-menu .anticon{
    font-size: 20px;
}
@media screen and (min-width:442px) {
    .danger{
        position: absolute;
        right: 1%;
        top: 1%;
        margin: 0;
    }
}
@media screen and (min-width:740px) {
    .ant-fullcalendar{
        font-size: 1.8rem;
    }
    .ant-table{
        font-size: 2rem;
    }
    .block__heading{
        font-size: 9rem;
    }
    .ant-menu{
        font-size: 2rem;
    }
    .danger{
        position: absolute;
        right: 1%;
        top: 1%;
        margin: 0;
    }
    .ant-menu .anticon{
        font-size: 25px;
    }
   
}
  
  
@media screen and (min-width:1016px) {
    .ant-table{
        font-size: 1.6rem;
    }
    .ant-form label{
        font-size: 2rem;
    }
    .block__heading{
        font-size: 9rem;
    }
    .ant-menu{
        font-size: 2rem;
    }
    .danger{
        position: absolute;
        right: 1%;
        top: 1%;
        margin: 0;
    }
    .ant-menu .anticon{
        font-size: 25px;
    }
   
}

