<!-- Students Booking Schedules Page -->
<template>
    <studentCalendar></studentCalendar>
</template>
<script>
export default {
    layout: 'student',
    // middleware for redirecting user if not authenticated - role should be student
    middleware: 'auth',
    async asyncData({ $auth, redirect }) {
        try {
        await $auth.fetchUser()
        if (!$auth.user || $auth.user.role !== 'student') {
            redirect('/')
        }
        } catch (err) {
        console.error(err)
        redirect('/')
        }
    }
}
</script>