<!-- Professors' Creating Schedules Page -->
<template>
    <professorCalendar></professorCalendar>
</template>
<script>
export default {
    layout: 'professor',
    // middleware for redirecting user if not authenticated - role should be professor
    middleware: 'auth',

    async asyncData({ $auth, redirect }) {
        try {
        await $auth.fetchUser()
        if (!$auth.user || $auth.user.role !== 'professor') {
            redirect('/')
        }
        } catch (err) {
        console.error(err)
        redirect('/')
        }
    }

    // created() {
    //     if (!this.$auth.user.role || this.$auth.user.role !== 'professor') {
    //     this.$router.push('/');
    //     }
    // }
}
</script>