<!-- Profile Page -->
<template>
  <profile></profile>
</template>

<script>
export default {
  // Change the layout depending on who is logged in
  middleware: 'auth',
  layout: (context) => {
    const user = context.$auth.user;
    if (user && user.role === 'professor') {
      return 'professor';
    } else {
      return 'student';
    }
  },
}

</script>