<!-- Login page -->
<template>
  <div class="container login-bg">
    <a-card class="card">
      <loginComp></loginComp>
    </a-card>
  </div>
</template>


<style>
  .login-form h1{
    font-size: 4rem;
    text-align: center;
  }

  .login-bg{
    background: rgb(131,58,180);
    background: linear-gradient(8deg, rgba(131,58,180,1) 15%, rgba(62,123,179,1) 67%, rgba(252,176,69,1) 100%);
  }

</style>