<!-- Register Page -->
<template>
  <div class="container register-bg">
    <a-card class="card">
      <registerComp></registerComp>
    </a-card>
  </div>
</template>


<style>
  .register h1{
    font-size: 4rem;
    text-align: center;
    margin: 0;
  }

  .ant-form-item{
    margin-bottom: 5px;
  }

  .register-bg{
    background: rgb(19,0,36);
    background: linear-gradient(225deg, rgba(19,0,36,1) 9%, rgba(27,134,157,1) 38%, rgba(18,149,191,1) 54%, rgba(0,255,226,1) 73%);
  }
</style>