<template>
    <!-- Display a button depending on the role of the logged in user -->
<div>
    <NuxtLink v-if="role === 'professor'" class="btn btn--red btn--stretched link" to="/createSchedule">Create Schedule</NuxtLink>
    <NuxtLink v-else class="btn btn--red btn--stretched link" to="/bookSchedule">Book Schedule</NuxtLink>
</div>
</template>

<script>
export default{
    data(){
        return{
            role:''
        }
    },
    created(){
       if (this.$auth.loggedIn) {
            this.role = this.$auth.user.role
       }
    }
}
</script>
<style scoped>
.btn{
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem 1rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    outline: 0;
}
.btn--stretched{
    padding-left: 4rem;
    padding-right: 4rem;
}

.btn--red {
    background: #ff4d4f;
    color: #fff;
}
.btn--red:hover {
    background: #ec3000;
  }

a:hover{
    color: #fff
}
  
a{
    text-decoration: none;
}
</style>