<template>
  <!-- Form that Displays user's profile that can be edited and saved -->
  <div>
    <a-form  :form="form" class="profileInput" @submit="handleSubmit">
      <a-form-item v-for="(item, index) in data" :key="index">
        <h2>Role: <span class="profileInput__heading">{{ item.role }}</span></h2>
        <a-form-item label="First Name">
          <a-input v-model="item.firstname" />
        </a-form-item>
        <a-form-item label="Last Name">
          <a-input v-model="item.lastname" />
        </a-form-item>
        <a-form-item label="Email">
          <a-input v-model="item.email" />
        </a-form-item>
      </a-form-item>
      <h3 style="color:white; font-size:4rem">Change Password</h3>
      <a-form-item  label="Current Password"  has-feedback>
            <a-input
                v-decorator="[
                'oldpassword',
                {
                    rules: [
                    {
                      
                        message: 'Please input your current password!',
                    },
                      {
                         validator: validateCurrentPassword,
                      },
                    ],
                },
                ]"
                type="password"
            />
            </a-form-item>
            <a-form-item v-if="validpass" label="New Password" >
            <a-input
                v-model="newpass"
                v-decorator="[
                'newpassword',
                {
                    rules: [
                    {
                        required: true,
                        message: 'Please input your new password!',
                    },
                    {
                        validator: validateToNextPassword,
                    },
                    ],
                },
                ]"
                type="password"
            />
            </a-form-item>
          
            <a-form-item v-if="newpass" label="Confirm New Password" has-feedback>
            <a-input
                v-model="newPassword"
                v-decorator="[
                'confirm',
                {
                    rules: [
                    {
                        required: true,
                        message: 'Please confirm your new password!',
                    },
                    {
                        validator: compareToFirstPassword,
                    },
                    ],
                },
                ]"
                type="password"
                @blur="handleConfirmBlur"
            />
            </a-form-item>
      <a-button v-if="validNewpass" class="savebtn" type="primary" html-type="submit" >Save</a-button>
      <a-button v-else class="savebtn" type="primary" @click="handleUpdate" >Save</a-button>
      
    </a-form>
  </div>
</template>

<script>
export default {
  data(){
    return{
      confirmDirty: false,
      visible: false,
      data:[{
        id:"",
        firstname:"",
        lastname:"",
        email:"",
        role:"",
        password:""
      }],
      newPassword:"",
      newpass:"",
      validpass:"",
      validNewpass:"",
    }
  },
  created(){
    if (this.$auth.loggedIn) {
    this.fetchUser();
    } else {
      this.$auth.onError(location.reload());
    }
  },
  
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'register' });
  },
    methods: {
      // calls handleupdate method when user submits the form
      handleSubmit(e) {
        e.preventDefault();
        this.form.validateFieldsAndScroll(async (err, values) => {
          try {
            if (!err) {
              this.handleUpdate()
              console.log(err)
            }
          } catch (error) {
           
            this.$message.error('An error occurred during form submission');
            console.error(error);
          }
        });
      },
      // Get logged in user
      fetchUser() {
        this.$axios.get('/users/getlog')
          .then((response) => {
            const responseData = response.data;
            this.data[0].id = responseData.id;
            this.data[0].firstname = responseData.firstname;
            this.data[0].lastname = responseData.lastname;
            this.data[0].email = responseData.email;
            this.data[0].role = responseData.role;
            this.data[0].password = responseData.password;
            console.log(responseData);
          })
          .catch((error) => {
            console.error(error);
          })
      },
    
      // update user profile depending on who is logged in
      // if there is a newpassword that is passed it will also update the password
      // but if there is no new password it will only update the profile
      async handleUpdate() {
        try {
            if (this.data[0].role == "professor"){
              if(this.validNewpass){
                  await this.$axios.put(`/professors/${this.data[0].id}`, {
                    firstname: this.data[0].firstname,
                    lastname: this.data[0].lastname,
                    email: this.data[0].email,
                    password: this.newPassword
                  });
              }else{
                await this.$axios.put(`/professors/${this.data[0].id}`, {
                    firstname: this.data[0].firstname,
                    lastname: this.data[0].lastname,
                    email: this.data[0].email,
                  });
              }

            }else{
              if(this.validNewpass){
                  await this.$axios.put(`/students/${this.data[0].id}`, {
                    firstname: this.data[0].firstname,
                    lastname: this.data[0].lastname,
                    email: this.data[0].email,
                    password: this.newPassword
                  });
              }else{
                await this.$axios.put(`/students/${this.data[0].id}`, {
                firstname: this.data[0].firstname,
                lastname: this.data[0].lastname,
                email: this.data[0].email,
              });
              }
            }
          console.log('Successfully updated user');
          this.fetchUser();
          if(this.validNewpass === true){
          this.$message.success('Profile and Password Updated Successfully')
          setTimeout(() => {
            location.reload();
          }, 1000);
          }else{
            this.$message.success('Profile Updated Successfully')
          }
        } catch (error) {
          this.$message.error('Error updating user')
          console.error('Error updating user', error);
        }
      },
    
      showModal() {
        this.visible = true;
      },
      handleOk() {  
        const newPassword = {
          newPassword: this.newPassword
        };
        this.$axios.put('/users/change/password', newPassword)
          .then(() => {
            this.$message.success('Password changed successfully!');
            this.visible = false;
            this.form.resetFields();
          })
          .catch(error => {
            console.log(error);
            this.$message.error('Failed to change password.');
          });
      },
      
    handleConfirmBlur(e) {
      const value = e.target.value;
      this.confirmDirty = this.confirmDirty || !!value;
    },
    // rule for comparing password
    compareToFirstPassword(rule, value, callback) {
      const form = this.form;
      if (value && value !== form.getFieldValue('newpassword')) {
        callback('Two passwords that you enter is inconsistent!');
        this.validNewpass = false;
      } else {
        this.validNewpass = true;
        callback();
      }
    },
    // validate password if it is the same with the user's current password
    validateToNextPassword(rule, value, callback) {
      const form = this.form;
      if (value && this.confirmDirty) {
        form.validateFields(['confirm'], { force: true });
      }
      callback();
    },
     async validateCurrentPassword (rule, value, callback)  {
        try {
        const response = await this.$axios.post('users/checkPassword', { password: value });
        const isValid = response.data.valid;
        if (!isValid) {
          this.validpass = true
          callback();
        } else { 
          this.validpass = false
          callback('Current password is invalid');
        }
      } catch (error) {
        console.error(error);
        this.validpass = false
        callback('Password not matched');
      }
  }

  
  },
}
</script>

<style>
    .profileInput .ant-input{
        max-width: 500px;
    }

    .profileInput .ant-form-item-label > label {
    color: #fff;
    }
    
    .modalPass .ant-form-item-label > label{
        color: black;
    }
    .ant-row .ant-form-item{
        margin-bottom: 5px;
    }

    .profileInput__heading{
      text-transform: uppercase;
    }


</style>