<template>
  <!-- Profile Header -->
    <section class="block block--dark block--skewed-left">
      <div class="grid grid--1x2 profile-container">
        <header class="block__header profile__content">
          <h1 class="block__heading">Greetings! {{this.$auth.user.role}} {{this.$auth.user.firstname}}</h1>
          <actionButton></actionButton>
        </header>
        <div>
          <profileData></profileData>
        </div>
      </div>
    </section>
</template>

<script>
  import actionButton from './actionButton.vue';

  export default{
    components:{
      actionButton
    }
  }
</script>

<style>
  .profile-container{
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .profile__content{
    align-self: center;
    text-align: left;
  }
</style>