<!-- Login that takes email and password. It also has a forgot password function -->
<template>
    <a-form
      id="components-form-demo-normal-login"
      :form="form"
      class="login-form"
      @submit="handleSubmit"
    >
    <h1>Login</h1>
      <a-form-item>
        <a-input
          v-decorator="[
            'email',
            { rules: [
                {
                    type: 'email',
                    message: 'The input is not valid E-mail!',
                },
                {required: true, message: 'Please input your email!' }
              ] 
            },
          ]"
          placeholder="Email"
        >
          <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input
          v-decorator="[
            'password',
            { rules: [{ required: true, message: 'Please input your Password!' }] },
          ]"
          type="password"
          placeholder="Password"
        >
          <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
        </a-input>
      </a-form-item>

      <a-form-item>
        
        <a-button type="primary" html-type="submit" class="login-form-button">
          Log in
        </a-button>
        Or
        <NuxtLink class="link" to="/register">Register Now!</NuxtLink>
        <a @click="showModal" class="login-form-forgot">
          Forgot Password?
        </a>
        <a-modal
          centered
          title="Reset Password"
          :visible="visible"
          :confirm-loading="confirmLoading"
          @ok="handleOk"
          @cancel="handleCancel"
        >
        <h3>Enter your email to reset your password</h3>
          <a-input type="email" v-model="emailForgotPass" required></a-input>
        </a-modal>
      </a-form-item>
    </a-form>
  </template>
  
  <script>
  export default {
    data(){
      return{
        email:'',
        password:'',
        emailForgotPass:'',
        visible: false,
        confirmLoading: false,
      }
    },
    beforeCreate() {
      this.form = this.$form.createForm(this, { name: 'normal_login' });
    },
    methods: {
        // Log the user in
        handleSubmit(e) {
          e.preventDefault();
          this.form.validateFields((err, values) => {
            if (!err) {
              this.email = this.form.getFieldValue('email')
              this.password = this.form.getFieldValue('password')
    
              this.$auth.loginWith('local', { data: { email: this.email, password: this.password } })
                .then(() => {
                  if (this.$auth.loggedIn) {
                    this.$router.push('/')
                  }
                })
                .catch((error) => {
                  // Handle login error
                  console.error(error)
                  // Show error message to user
                  this.$message.error('Login failed. Please check your credentials.')
                })
            }
        });
      },
      showModal() {
      this.visible = true;
      },
      // Used for the modal in forgot password
      handleOk(e) {
        this.confirmLoading = true; // set loading state

        this.$axios.post('users/forgotPassword', { email: this.emailForgotPass })
          .then(response => {
            console.log('Password reset email sent');
            // Close the modal
            this.visible = false;
          })
          .catch(error => {
            console.error(error);
            // Show error message to user
            this.$message.error('Failed to reset password. Please try again.');
          })
          .finally(() => {
            this.visible = false;
            this.confirmLoading = false;
            // Email is valid and new password will be sent to the user's email
            this.$message.success('Email Sent Successfully. Check your Email for your new Password')
          });
      },

      handleCancel(e) {
        this.visible = false;
      },
    },
  };
  </script>
  <style>
  #components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }
  
  </style>