<template>
    <!-- Navigation bar for professor -->
    <div>
        <a-menu class="menu" mode="horizontal" :selectedKeys="selectedKeys">
            <a-menu-item :class="{ 'ant-menu-item-selected': isLinkActive('/') }">
              <NuxtLink class="link" to="/"> <a-icon type="user" />Profile Page</NuxtLink>
            </a-menu-item>
            <a-menu-item  :class="{ 'ant-menu-item-selected': isLinkActive('/createSchedule') }">
              <NuxtLink class="link" to="/createSchedule"> <a-icon type="schedule" />Create Schedule</NuxtLink>
            </a-menu-item>
            <a-button class="danger" type="danger" @click="logout">Log Out</a-button>
        </a-menu>
    </div>
    
</template>

<script>
export default{
    data() {
        return {
            activeLink: '',
            selectedKeys: []
        };
    },
    mounted() {
        // set activeLink to the current route path on component mount
        this.activeLink = this.$route.path;
     },
    computed: {
        isActive() {
        return (to) => this.$route.path === this.activeLink || this.$route.path.startsWith(to);
        },
     },
    methods:{
        isLinkActive(routePath) {
         return this.$route.path === routePath;
        },
        async logout(){  
            try {
                await this.$auth.logout();
                await this.$router.push('/login');
            } catch (error) {
                console.error(error);
            }
        }
    }
}
</script>

