<!-- Registration form -->
<template>
  <a-form class="register" :form="form" @submit="handleSubmit">
    <h1>Register</h1>
    <a-form-item  label="First Name">
        <a-input placeholder="First Name" v-decorator="[
          'firstname',
          { 
            rules: [
              { required: true, message: 'Please enter your first name'}
            ] 
          },
        ]" />
      </a-form-item>
      <a-form-item label="Last Name">
        <a-input placeholder="Last Name" v-decorator="[
          'lastname',
          { 
            rules: [
              { required: true, message: 'Please enter your last name'}
            ] 
          },
        ]" />
      </a-form-item>
    <a-form-item  label="E-mail">
      <a-input placeholder="E-mail"
        v-decorator="[
          'email',
          {
            rules: [
              {
                type: 'email',
                message: 'The input is not valid E-mail!',
              },
              {
                required: true,
                message: 'Please input your E-mail!',
              },
            ],
          },
        ]"
      />
    </a-form-item>

    <a-form-item  label="Role" :colon="false">
        <a-select v-decorator="[
          'role',
          { rules: [{ required: true, message: 'Please select your role', trigger: 'change' }] }
          ]" placeholder="Please select">
          <a-select-option value="professor">Professor</a-select-option>
          <a-select-option value="student">Student</a-select-option>
        </a-select>
    </a-form-item>

    <a-form-item  label="Password" has-feedback>
      <a-input placeholder="Password"
        v-decorator="[
          'password',
          {
            rules: [
              {
                required: true,
                message: 'Please input your password!',
              },
              {
                validator: validateToNextPassword,
              },
            ],
          },
        ]"
        type="password"
      />
    </a-form-item>
    <a-form-item  label="Confirm Password" has-feedback>
      <a-input placeholder="Confirm Password"
        v-decorator="[
          'confirm',
          {
            rules: [
              {
                required: true,
                message: 'Please confirm your password!',
              },
              {
                validator: compareToFirstPassword,
              },
            ],
          },
        ]"
        type="password"
        @blur="handleConfirmBlur"
      />
    </a-form-item>
    <a-form-item >
      <a-button type="primary" html-type="submit">
        Register
      </a-button>
      <div>
        Or
        <NuxtLink class="link" to="/login">Login</NuxtLink>
      </div>
    </a-form-item>
  </a-form>
</template>

<script>

export default {
  data() {
    return {
      confirmDirty: false,
      firstname:'',
      lastname:'',
      email:'',
      role:'',
      pasword:''
    }
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'register' });
  },
  methods: {
    // Create user depending on role
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFieldsAndScroll((err, values) => {
        if (!err) {
          this.firstname = this.form.getFieldValue('firstname')
          this.lastname = this.form.getFieldValue('lastname')
          this.email = this.form.getFieldValue('email')
          this.role = this.form.getFieldValue('role')
          this.password = this.form.getFieldValue('password')
          console.log('Received values of form: ');
          if(this.role == "professor"){
            this.$axios.post('/professors/', 
              { firstname: this.firstname, 
                lastname: this.lastname, 
                email: this.email,
                role: this.role,
                password : this.password })
              .then(() => {
                this.$message.success('Account created successfully!')
                this.form.resetFields();
              })
              .catch((error) => {
                this.$message.error(error.response.data.error)
              })
          } else {
            this.$axios.post('/students/', 
              { firstname: this.firstname, 
                lastname: this.lastname, 
                email: this.email,
                role: this.role,
                password : this.password })
              .then(() => {
                this.$message.success('Account created successfully!')
                this.form.resetFields();
              })
              .catch((error) => {
                this.$message.error(error.response.data.error)
              })
          }
        }
      });
    },

    handleConfirmBlur(e) {
      const value = e.target.value;
      this.confirmDirty = this.confirmDirty || !!value;
    },
    // Password validation if the same
    compareToFirstPassword(rule, value, callback) {
      const form = this.form;
      if (value && value !== form.getFieldValue('password')) {
        callback('Two passwords that you enter is inconsistent!');
      } else {
        callback();
      }
    },
    // Password validation if the same
    validateToNextPassword(rule, value, callback) {
      const form = this.form;
      if (value && this.confirmDirty) {
        form.validateFields(['confirm'], { force: true });
      }
      callback();
    },
  },
};
</script>

<style>

</style>