<!-- Calendar for Professors where they input and create their Schedules -->
<template>
  <div>
    <a-row :justify="center" :gutter="30" type="flex">
      <a-col>
        <div class="calendaryo">
          <a-calendar :fullscreen="false" @change="updateMoment"/>
        </div>
      </a-col>
      <a-col class="tableSchedule" flex="auto">
        <div style="margin: 10px">
          <p class="timePicker">Start Time:</p>
          <a-time-picker  required class="inputTime" use12-hours format="h:mm a" @change="onChange1" />
          <p class="timePicker">End Time:</p>
          <a-time-picker  required class="inputTime" use12-hours format="h:mm a" @change="onChange2" />
          <a-tooltip placement="bottom">
              <a-button class="addSchedule" @click="addSchedule" type="primary">Add Schedule</a-button>
            <template slot="title">Add your schedule for students to see</template>
          </a-tooltip>
        </div>
        
          <a-row class="schedTable" type="flex">
            <a-col flex="auto">
              <profTableSchedule ref="child"></profTableSchedule>
            </a-col>
          </a-row>
      </a-col>
    </a-row>
    
  </div>
  
</template>

<script>
import moment from 'moment';
import profTableSchedule from './profTableSchedule.vue';

export default {
  components:{
    profTableSchedule
  },
  data() {
    return {
      date: moment(),
      startTime:'',
      endTime:'',
      professor_id: this.$auth.user.id,
    }
  },

  methods: {
    updateMoment(date) {
      this.date = moment(date);
    },
    onChange1(time) {
      this.startTime = moment(time).format('h:mm a')+ ''
    },
    onChange2(time) {
      this.endTime = moment(time).format('h:mm a') + ''
    },
    // Add a schedules by getting field values and using moment to format date 
    addSchedule() {
      if (!this.startTime || !this.endTime) {
        this.$message.error('Please Select Time')
        return;
      }
      // Use axios to create the schedule of the logged in professor
      const date = moment(this.date).format('MM-DD-YYYY dddd')+ '';
      this.$axios.post(`/schedules/${this.professor_id}`, {
        date: date,
        startTime: this.startTime,
        endTime: this.endTime,
      })
      .then((response) => {
        this.$refs.child.fetchSchedules();
        console.log(response.data);
      })
      .catch((error) => {
        console.log(error);
      });
    }
  },
}
</script>
<style>

.calendaryo{
  width: 450px; 
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 10px;
}

.addSchedule{
  display: block;
  margin: 10px 0;
}

.timePicker{
  display: block; 
  margin-right: 0 10px 0 10px;
}

.inputTime{
  margin-right: 20px ;
  margin-bottom: 20px;
}

.ant-col.tableSchedule{
  min-width: 500px;
}

@media screen and (min-width:740px) {
  .calendaryo{ 
    width: 700px;
  }
  .timePicker{
    display: inline-block;
  }
  .addSchedule{
    display: inline-block;
  }
}


@media screen and (min-width:1016px) {
  .calendaryo{ 
    width: 300px;
  }
  .timePicker{
    display: inline-block;
  }
  .addSchedule{
    display: inline-block;
  }
}
</style>

