<!-- Table for professor's created schedules -->
<template>
    <a-table :columns="columns" :data-source="data" bordered>
      <template
        v-for="col in ['date','startTime', 'endTime', 'student_id']"
        :slot="col"
        slot-scope="text, record, index"
      >
        <div :key="col">
          <a-input
            v-if="record.editable"
            style="margin: -5px 0"
            :value="text"
            @change="e => handleChange(e.target.value, record.id, col)"
          />
          <template v-else>
            {{ text }}
          </template>
        </div>
      </template>
      <template slot="operation" slot-scope="text, record, index">
        <div class="editable-row-operations">
          <span v-if="record.editable">
            <a @click="() => save(record.id)">Save</a>
            <a-popconfirm title="Sure to cancel?" @confirm="() => cancel(record.id)">
              <a>Cancel</a>
            </a-popconfirm>
            <a-divider type="vertical" />
            <a-popconfirm title="Sure to Delete?" @confirm="() => deleteSchedule(record.id)">
              <a>Delete</a>
            </a-popconfirm>
          </span>
          <span v-else>
            <a :disabled="editingKey !== ''" @click="() => edit(record.id)">Edit</a>
          </span>
        </div>
      </template>
    </a-table>
  </template>
  <script>
  const columns = [
    {
      title: 'Date',
      dataIndex: 'date',
      width: '20%',
    },
    {
      title: 'Start Time',
      dataIndex: 'startTime',
      width: '15%',
      scopedSlots: { customRender: 'startTime' },
    },
    {
      title: 'End Time',
      dataIndex: 'endTime',
      width: '15%',
      scopedSlots: { customRender: 'endTime' },
    },
    {
      title: 'Booked Student',
      dataIndex: 'student.firstname',
      width: '30%',
    },
    {
      title: 'Operation',
      dataIndex: 'operation',
      scopedSlots: { customRender: 'operation' },
    },
  ];
  
  
  export default {
    data() {
      return {
        data:[],
        columns,
        editingKey: '',
        professor_id: this.$auth.user.id,
        cacheData: [],
      };
    },
    // a hook to fetch all schedules before the page is loaded
    async created() {
      await this.fetchSchedules();
    },
    methods: {
      // Get all schedules of a professor
      fetchSchedules() {
        const url =  `/schedules/${this.professor_id}`
        this.$axios.get(url)
        .then((response) => {
          this.data = response.data.map(item => ({ ...item, editable: false}));
          this.cacheData = response.data.map(item => ({ ...item }));
        })
        .catch((error) => {
          console.error(error);
        });
      },
      // Display data that has been changed real-time
      handleChange(value, id, column) {
        const newData = [...this.data];
        const target = newData.find(item => id === item.id);
        if (target) {
          target[column] = value;
          this.data = newData;
        }
      },
      //Make the item in the table editable
      edit(id) {
        const newData = [...this.data];
        const target = newData.find(item => id === item.id);
        this.editingKey = id;
        if (target) {
          target.editable = true;
          this.data = newData;
        }
      },
      // Save changes using axios to update a schedule in the table
      save(id) {
        const newData = [...this.data];
        const target = newData.find(item => id === item.id);
        if (target) {
          delete target.editable;
          this.data = newData;
        }
        this.editingKey = '';
        const updatedSchedule = {
          startTime: target.startTime,
          endTime: target.endTime
        };
        this.$axios.put(`/schedules/update/${target.id}`, updatedSchedule)
          .then(response => {
            console.log(response.data);
          })
          .catch(error => {
            console.error(error);
          });
    },
      // Cancel editing
      cancel(id) {
        const newData = [...this.data];
        const target = newData.find(item => id === item.id);
        this.editingKey = '';
        if (target) {
          Object.assign(target, this.cacheData.find(item => id === item.id));
          delete target.editable;
          this.data = newData;
        }
      },
      // Delete a schedule
      deleteSchedule(id){
      this.$axios.delete(`/schedules/${id}`)
      .then(() => {
          this.fetchSchedules();
          this.editingKey = ''
        })
        .catch((error) => {
          console.error(error);
        });
      },
    },
  };
  </script>
  <style scoped>
  .editable-row-operations a {
    margin-right: 8px;
  }
  </style>
  