<!-- Search for a professors name and pass its child named studentTableSchedule to filter -->
<template>
  <a-row :gutter="30" type="flex">
    <a-col flex="auto">
        <div style="margin: 10px">
          <a-input v-model="searchData" placeholder="Search Professor's Name"></a-input>
        </div>
        
          <a-row class="schedTable" type="flex">
            <a-col flex="auto">
              <studTableSchedule :search-data="searchData"></studTableSchedule>
            </a-col>
          </a-row>
      </a-col>
  </a-row>
</template>

<script>
import studTableSchedule from './studTableSchedule.vue';

export default {
 
  components:{
    studTableSchedule
  },
  data(){
    return{
      searchData:""
    }
  },
}
</script>

<style>

</style>