<!-- Displays a table with professor's name that can be expanded and their schedules of availability will show -->
<template>
    <a-table :columns="columns" :data-source="filteredData">
      <template slot="fullname" slot-scope="data">
        <span>{{ data.firstname }} {{ data.lastname }}</span>
      </template>
      <template slot="expandedRowRender" slot-scope="record">
        <a-table :columns="columns2" :data-source="filteredData2(record.id)">
            <a slot="action" slot-scope="record" v-if="!record.student_id" @click="showModal(record)">
              <a-tooltip>Book <template slot="title">Book Appointment with this schedule</template></a-tooltip>
            </a>
            <a slot="action" slot-scope="record" v-else-if="record.student_id && record.student_id===student_id" @click="showModal2(record)">
              <a-tooltip>Cancel <template slot="title">Cancel Appointment with this schedule</template></a-tooltip>
            </a>
        </a-table>
        <a-modal v-model="visible" title="Book Schedule" @ok="handleOk">
          <h3 class="booking">Book This Schedule?</h3>
          <a-descriptions :column="1">
            <a-descriptions-item label="Professor Name: ">{{ professorFirstname }} {{ professorLastname }}</a-descriptions-item>
            <a-descriptions-item label="Date: ">{{ schedule.date }}</a-descriptions-item>
            <a-descriptions-item label="Start Time: ">{{ schedule.startTime }}</a-descriptions-item>
            <a-descriptions-item label="End Time: ">{{ schedule.endTime }}</a-descriptions-item>
          </a-descriptions>
        </a-modal>
          <a-modal v-model="visible2" title="Cancel Booking" @ok="handleCancel">
            <h3 class="booking">Cancel this Schedule?</h3>
            <a-descriptions :column="1">
              <a-descriptions-item label="Professor Name: ">{{ professorFirstname }} {{ professorLastname }}</a-descriptions-item>
              <a-descriptions-item label="Date: ">{{ schedule.date }}</a-descriptions-item>
              <a-descriptions-item label="Start Time: ">{{ schedule.startTime }}</a-descriptions-item>
              <a-descriptions-item label="End Time: ">{{ schedule.endTime }}</a-descriptions-item>
            </a-descriptions>
          </a-modal>
        </template>
    </a-table>
</template>
  <script>
  
  const columns = [
    { title: 'Professor Name', key:'id', scopedSlots: { customRender: 'fullname' },}
  ];
  
  const columns2 = [
    { title: 'Date', dataIndex: 'date'},
    { title: 'Start Time', dataIndex: 'startTime'},
    { title: 'End Time', dataIndex: 'endTime'},
    { title: 'Student', dataIndex: 'firstname'},
    { title: 'Action', dataIndex: '', key: 'x', scopedSlots: { customRender: 'action' } },
  ];
  
  export default {
    props: {
        searchData: {
            type: String,
        }
    },
    data() {
      return {
        professors:[],
        schedules:[],
        students:[],
        columns,
        columns2,
        visible: false,
        visible2: false,
        schedule:{
          id:'',
          date:'',
          startTime:'',
          endTime:'',
          professor_id:1,
        },
        student_id: this.$auth.user.id,
        professor:{},
        professorFirstname:'',
        professorLastname:'',
      };
    },
    // hook to fetch schedules and users
    async created() {
      await this.fetchProfessors();
      await this.fetchSchedules();
      await this.fetchStudents();
    },
    methods: {
      fetchProfessors(){
        this.$axios.get('/professors')
        .then((response) => {
        this.professors = response.data;
      })
        .catch((error) => {
        console.error(error);
      });
      },
      fetchSchedules(){
        this.$axios.get('/schedules')
        .then((response) => {
        this.schedules = response.data;
      })
        .catch((error) => {
        console.error(error);
      });
      },

      fetchStudents() {
        this.$axios.get('/students')
          .then((response) => {
            this.students = response.data;
          })
          .catch((error) => {
            console.error(error);
          });
      },
      // filter data to get professors schedules from all the fetched schedules so that when expanded
      // it only shows the specific professor's schedules and not all schedules
      //also show's the booked student's name instead of their ID
      filteredData2(professorId) {
          return this.schedules.filter(item => item.professor_id === professorId)
          .map(item => {
          const student = item.student_id ? this.getStudentNameById(item.student_id) : '';
          return { ...item, firstname: student };
        });
      },
      getStudentNameById(studentId) {
        const student = this.students.find(s => s.id === studentId);
        return student ? student.firstname : '';
      },
      
      
      showModal(record) {
        this.getProfessorName(record.professor_id)
        this.schedule = record
        this.visible = true;
      },
      // Get professor's name to show fullname on the table and not just the first name
      async getProfessorName(id) {
        try {
          const response = await this.$axios.get(`professors/id/${id}`)
          this.professor = response.data
          this.professorFirstname = this.professor.firstname
          this.professorLastname = this.professor.lastname
        } catch (error) {
          console.error(error)
        }
      },
      showModal2(record) {
        this.getProfessorName(record.professor_id)
        this.schedule = record
        this.visible2 = true;
      },
      // When booking, a modal shows and when ok button is clicked the currently logged in
      // student will be able to book that schedule using axios
      handleOk() {
        this.$axios.put(`/schedules/${this.schedule.id}`, {
          student_id: this.student_id
        }).then(() => {
          console.log('Successfully updated schedule with student ID');
          this.fetchSchedules()
          this.visible = false;
          this.$message.success('Schedule Booked Successfully!')
        }).catch((error) => {
          console.error('Error updating schedule with student ID:', error);
          this.visible = false;
        });
      },
      // Cancel booking by removing the currently booked student using axios
      //  removing the value of student id to null
      handleCancel() {
        this.$axios.put(`/schedules/${this.schedule.id}`, {
          student_id: null
        }).then(() => {
          console.log('Successfully updated schedule with student ID');
          this.fetchSchedules()
          this.visible2 = false;
          this.$message.success('Booking Cancelled Successfully!')
        }).catch((error) => {
          console.error('Error updating schedule with student ID:', error);
          this.visible2 = false;
        });
      },
       
    },
    computed: {
      // Used for searching professor's name, data taken from props
    filteredData() {
      return this.professors.filter(item => {
        return item.firstname.toLowerCase().includes(this.searchData.toLowerCase());
      });
    },
  },
};
  </script>

<style>
.booking{
  margin-bottom: 20px;
}
</style>
  